page-fazer-pedido {
    #search{
        border: 1px solid #488aff;
        border-radius: 30px;
        height: 40px;
        ion-icon{
            font-size: 2.0em;
            position: relative;
            top: -3px;
        }
    }

    .text-input{
        font-size: 1.4em;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 10px;
        padding: 0 !important;
        position: relative;
        top: -3px;
    }

    ion-icon{
        font-size: 6.0em;
    }

    p{
        font-size: 1.5em;
        margin-top: 30px;
    }

    .input{
        border: 1px solid;
        width: 50%;
        margin-top: 22px;
    }

    .search_input{
        border:0; 
        margin: 0; 
        width: 100%;
    }

    .header{
        height: 75px;
        img {
            width: 60%;
            margin-left: 11%;
        }
        .icon2{
            position: absolute;
            font-size: 2.5em;
            margin-top: 15px;
            right: 20px;
            color: #488aff;
            font-weight: bold;
        }
        .icon1{
            position: absolute;
            font-size: 2.5em;
            left: 20px;
            color: #488aff;
        }
    }
}
