<ion-header>
    <ion-navbar>
        <ion-icon menuToggle class="icon1" name="menu"></ion-icon>
        <img src="../assets/imgs/cleanpool-logo.png" />
        <ion-icon (click)="logOut()" class="icon2" name="ios-log-out-outline"></ion-icon>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
    <ion-row>
      <ion-searchbar (ionInput)="filtraItens($event)"></ion-searchbar>
    </ion-row>
  
    <ion-row *ngIf="!listaProdutos">
      <ion-col col-12 text-center>
        <span>Carregando produtos...</span>
        <br>
        <br>
        <ion-spinner name="bubbles"></ion-spinner>
      </ion-col>
    </ion-row>
  
    <form style="overflow-y: scroll; height: 80%;" class="form" [formGroup]="myForm">
      <div *ngFor="let grupoProduto of listaGruposProdutos">
        <ion-row style="margin-top:20px; border-bottom: 1px solid #000" >
          <ion-col col-12>
            <h3 style="margin:0">{{grupoProduto.nome}}</h3>
          </ion-col>
        </ion-row>
        <div *ngFor="let subGrupoProduto of listaSubGruposProdutos">
          <div *ngIf="subGrupoProduto.grupo === grupoProduto.nome">
            <div *ngFor="let produto of listaProdutos">
              <ion-row *ngIf="produto.subgrupo === subGrupoProduto.nome" style="margin-top: 10px; height: 70px;">
                <ion-col col-3 text-center>
                  <img *ngIf="produto.url" src="http://cleanpoolbackend.clicksistemas.com.br/{{produto.url}}" style="width: 75px;">
                  <img *ngIf="!produto.url" src="../../assets/imgs/340719-200.png" style="width: 50px; margin-top: 15px">
                </ion-col>
                <ion-col col-6 text-left>
                  <p style="font-size: 16px">{{ produto.nome }}</p>
                </ion-col>
                <ion-col col-3 text-center>
                  <ion-input (change)="onChange(produto.id, $event.target.value)" type="number"></ion-input>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </div>
      </div>
    </form>
  
    <ion-row style="margin-top: 10px">
      <ion-col col-10 offset-1>
        <button (click)="goToPageHome()" ion-button color="primary" block>Enviar Pedido</button>
      </ion-col>
    </ion-row>
  
    <!-- <pre>Form values: {{myForm.value | json}}</pre> -->
  </ion-content>
  