<ion-header>
  <ion-navbar>
    <img src="../assets/imgs/cleanpool-logo.png" />
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-12>
      <h3 style="text-align: center; margin: 0">Você é ?</h3>
    </ion-col>

    <ion-col col-12>
      <button ion-button color="primary" (click)="pessoaFisica()" block>Pessoa Física</button>
    </ion-col>
    <ion-col col-12>
      <h3 style="text-align: center; margin: 0">Ou</h3>
    </ion-col>
    <ion-col col-12>
      <button ion-button color="secondary" (click)="pessoaJuridica()" block>Pessoa Jurídica</button>
    </ion-col>
  </ion-row>
</ion-content>