page-finalizar-atendimento {
    h3{
        border-bottom: 2px solid #000;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
    h4{
        margin-top: 20px !important;
    }

    p{
        margin: 0;
        font-size: 1.3em;
    }

    #obs{
        height: 160px;
        border: 2px solid #000;

        p{
            font-size: 14px;
            padding: 10px;
        }
    }
}
