<ion-header>
  <ion-navbar>
    <img src="../assets/imgs/cleanpool-logo.png" />
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <!-- <ion-row class="borderBottom">
      <ion-col text-left>
        <h4>Usuário: {{dadosUsuario.nome}}</h4>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>
        <h3 style="border:none">Resumo do Atendimento</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Inicio: {{horaInicio}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Término: {{horaFinal}}</p>
      </ion-col>
    </ion-row>
    <ion-row style="margin-bottom: 20px">
      <ion-col *ngIf="quantidadeFotos">
        <p>{{quantidadeFotos}} Fotos adicionadas</p>
      </ion-col>
      <ion-col *ngIf="!quantidadeFotos">
          <p>0 Fotos adicionadas</p>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h4>Observacão</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div id="obs">
          <p>{{observacao}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-10 offset-1>
        <button (click)="goToOtherPageAgenda()" block ion-button color="primary">Retornar para agenda</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>