<div *ngIf="listaAgendasAtendidas.length === 0">
  <ion-row>
    <ion-col col-12 text-center>
      <ion-spinner style="transform: scale(4); margin-top: 50%;" name="bubbles" color="primary"></ion-spinner>
    </ion-col>
  </ion-row>
</div>

<div style="height: 100%" *ngIf="listaAgendasAtendidas.length > 0">
  <ion-header style="background-color: #fff;">
    <ion-navbar>
      <img src="../assets/imgs/cleanpool-logo.png" />
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-grid style="margin-top: 60px;"> 
      <ion-row>
        <ion-col col-12>
          <p>Olá acabamos a limpesa de sua piscina, veja as fotos.
          </p>
        </ion-col>
      </ion-row>
      
      <ion-row *ngIf="imagemAgenda.length == 1">
        <ion-col col-10 offset-1>
          <ion-slides #mySlider>
            <ion-slide *ngFor="let foto of imagemAgenda">
              <img src="http://cleanpoolbackend.clicksistemas.com.br/{{foto.url}}">
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="imagemAgenda.length > 1">
        <ion-col col-10 offset-1>
          <ion-slides initialSlide=0 loop=true initialSlide=0 paginationClickable=true #mySlider>
            <ion-slide *ngFor="let foto of imagemAgenda">
              <img src="http://cleanpoolbackend.clicksistemas.com.br/{{foto.url}}">
            </ion-slide>
          </ion-slides>
        </ion-col>
        <div class="swiper-button-next" (click)="slideNext()"></div>
        <div class="swiper-button-prev" (click)="slidePrev()"></div>
      </ion-row>
      
      <ion-row *ngIf="imagemAgenda.length === 0">
        <ion-col col-10 offset-1>
          <p class="semfoto">SEM FOTOS</p>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 10px">
        <ion-col col-12>
          <p>Dados do Atendimento:</p>
        </ion-col>
      </ion-row>

      <div *ngFor="let agenda of agendasAtendida">
        <ion-row>
          <ion-col col-12>
            <p>Piscineirio: <b>{{agenda.nomepiscineiro}}</b></p>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: -5px !important">
          <ion-col col-12>
            <p>Data do Atendimento: <b>{{dataAtendimento}}</b></p>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: -5px !important">
          <ion-col col-12>
            <p>Hora do Atendimento: <b>{{horaAtendimento}}</b></p>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: -5px !important">
          <ion-col col-12>
            <p>Piscina: <b>{{agenda.descricaopiscina}}</b></p>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: -5px !important">
            <ion-col col-12>
              <p>Observação do Piscineiro:</p>
              <p><b>{{agenda.observacao}}</b></p>
            </ion-col>
          </ion-row>
      </div>
      
      <ion-row style="margin-top: 10px">
        <ion-col col-12>
          <p>Poderia avaliar nosso atendimento?</p>
        </ion-col>
      </ion-row>
      
      <ion-row *ngIf="servicosAgenda.length === 0">
        <ion-col col-12 text-center>
          <ion-spinner style="transform: scale(2)" name="bubbles" color="primary"></ion-spinner>
        </ion-col>
      </ion-row>
      
      <div *ngFor="let servico of servicosAgenda, let i = index">
        <ion-row>
          <p>{{servico.nome}}</p>
        </ion-row>
        <ion-row style="position: relative; top: -15px">
          <rating [(ngModel)]="servico.nota" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
            starIconName="star" nullable="false" (ngModelChange)="onModelChange($event, servico.nome)">
          </rating>
        </ion-row>
      </div>
      
      <form [formGroup]="myForm">
        <ion-row>
          <ion-col>
            <p>Suas observações:</p>
          </ion-col>
        </ion-row>
        <ion-row style="height: 160px">
          <ion-col>
            <ion-textarea formControlName="observacao" style="width: 100%"></ion-textarea>
          </ion-col>
        </ion-row>
      </form>
      
      <ion-row id="button">
        <ion-col col-10 offset-1>
          <button (click)="goToOtherPage()" [disabled]="!myForm.valid" ion-button block color="primary">Enviar</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>