page-avaliacao {
    ion-header img {
        width: 50%;
        margin-left: 25% !important;
        
    }
    p{
        font-size: 1.3em;
        margin-top: -5px !important;

        span{
            color: red;
        }
    }

    ul {
        padding: 0;
        margin: 0;
        &.rating li {
            background: none;
            color: #ffb400;
            ion-icon {
            font-size: 40px;
            }
        }
    }

    textarea.text-input{
        border: solid 1px #000;
        width: 95%;
        height: 150px;
        position: absolute;
        right: 0px;
        top: -9px;
        font-size: 14px;
        padding: 10px;
    }

    #button{
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .swiper-button-prev, .swiper-button-next {
        top: 38%;
    }

    .semfoto{
        width: 100%;
        background-color: #DCDCDC;
        height: 150px;
        text-align: center;
        padding-top: 60px;
        font-size: 25px;
    }
}
