page-estado-piscina {
    .agualimpaEsconde{
        position: relative;
        display: none;
        width: 96%;
        margin-left: 2%;
        background-color: #32db64;
        p{
            margin-left: 10px !important;
            padding: 0;
            margin: 0;
            color: #000;
            font-size: 14px;
        }
    }

    .aguaLevementeTurvaEsconde{
        position: relative;
        display: none;
        width: 96%;
        margin-left: 2%;
        background-color: #FFFF00;
        p{
            margin-left: 10px !important;
            padding: 0;
            margin: 0;
            color: #000;
            font-size: 14px;
        }
    }

    .aguaTurvaEsconde{
        position: relative;
        display: none;
        width: 96%;
        margin-left: 2%;
        background-color: #f53d3d;
        p{
            margin-left: 10px !important;
            padding: 0;
            margin: 0;
            color: #000;
            font-size: 14px;
        }
    }


    .aguaLevementeVerde{
        position: relative;
        display: none;
        width: 96%;
        margin-left: 2%;
        background-color: #FFFF00;
        p{
            margin-left: 10px !important;
            padding: 0;
            margin: 0;
            color: #000;
            font-size: 14px;
        }
    }

    .aguaVerde{
        position: relative;
        display: none;
        width: 96%;
        margin-left: 2%;
        background-color: #f53d3d;
        p{
            margin-left: 10px !important;
            padding: 0;
            margin: 0;
            color: #000;
            font-size: 14px;
        }
    }

    #goPage{
        font-size: 2.5em;
        left: 10px;
    }

    button ion-icon{
        position: absolute;
        right: 10px;
        font-size: 30px;
    }

    #aguaLimpa, #aguaLevementeTurva, #aguaTurva, #AguaLevementeVerde, #AguaVerde{
        display: none;
    }

    #iconAguaLimpaUp, #iconAguaLevementeTurvaUp, #iconAguaLevementeVerdeUp, #iconAguaVerdeUp, #iconAguaTurvaUp{
        display: none;
    }
}
