<ion-header>
  <ion-navbar>
    <img src="../assets/imgs/cleanpool-logo.png" />
  </ion-navbar>
</ion-header>
  
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <h3>Como está a piscina?</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <button (click)="exibirAguaLimpa()" ion-button block>
          Agua límpida
          <ion-icon id="iconAguaLimpaDown" name="ios-arrow-down-outline"></ion-icon>
          <ion-icon id="iconAguaLimpaUp" name="ios-arrow-up-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row id="aguaLimpa" class="agualimpaEsconde" style="display: none">
      <ion-col col-12>
        <p>{{msgAguaLimpa}}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <button (click)="exibirAguaLevementeTurva()" ion-button block>
          Agua Levemente Turva
          <ion-icon id="iconAguaLevementeTurvaDown" name="ios-arrow-down-outline"></ion-icon>
          <ion-icon id="iconAguaLevementeTurvaUp" name="ios-arrow-up-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    
    <ion-row id="aguaLevementeTurva" class="aguaLevementeTurvaEsconde" style="display: none">
      <ion-col col-12>
        <p>{{msgAguaLevementeTurva}}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <button (click)="exibirAguaTurva()" ion-button block>
          Agua Turva
          <ion-icon id="iconAguaTurvaDown" name="ios-arrow-down-outline"></ion-icon>
          <ion-icon id="iconAguaTurvaUp" name="ios-arrow-up-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row id="aguaTurva" class="aguaTurvaEsconde" style="display: none">
      <ion-col col-12>
        <p>{{msgAguaTurva}}</p>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col col-12>
        <button (click)="exibirAguaLevementeVerde()" ion-button block>
          Agua Levemente Verde
          <ion-icon id="iconAguaLevementeVerdeDown" name="ios-arrow-down-outline"></ion-icon>
          <ion-icon id="iconAguaLevementeVerdeUp" name="ios-arrow-up-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row id="aguaLevementeVerde" class="aguaLevementeVerde" style="display: none">
      <ion-col col-12>
        <p>{{msgAguaLevementeVerde}}</p>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col col-12>
        <button (click)="exibirAguaVerde()" ion-button block>
          Agua Verde
          <ion-icon id="iconAguaVerdeDown" name="ios-arrow-down-outline"></ion-icon>
          <ion-icon id="iconAguaVerdeUp" name="ios-arrow-up-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row id="aguaVerde" class="aguaVerde" style="display: none">
      <ion-col col-12>
        <p>{{msgAguaVerde}}</p>
      </ion-col>
    </ion-row>
    
    <ion-row style="position: levemente; bottom: 0px; right: 0px;">
      <ion-col col-9></ion-col>
      <ion-col col-3 text-center>
        <button ion-button round (click)="goToOtherPage()" style="width: 55px; height: 55px">
          <ion-icon id="goPage" name="arrow-forward" large></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>