<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon large name="menu"></ion-icon>
    </button>
    <img src="../assets/imgs/cleanpool-logo.png" />
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!listaServicos">
    <ion-row>
      <ion-col col-12 text-center>
        <ion-spinner style="transform: scale(4); margin-top: 50%;" name="bubbles" color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="listaServicos">
    <ion-row>
      <ion-searchbar (ionInput)="filtraItens($event)"></ion-searchbar>
    </ion-row>
    <div *ngFor="let subGrupo of listaSubGruposServicos">
      <ion-row style="margin-top:20px; border-bottom: 1px solid #000" >
        <ion-col col-12>
          <h3 style="margin:0">
            {{ subGrupo.nome }}
          </h3>
        </ion-col>
      </ion-row>
      <div *ngFor="let servico of listaServicos">
        <ion-card *ngIf="servico.subgrupo === subGrupo.nome" style="margin-top: 20px;">
          <ion-row>
            <ion-col col-10>
              <p >{{ servico.nome }}</p>
            </ion-col>
            <ion-col col-2>
                <input class="checkbox" (change)="onChange(servico.id, $event.target.checked)" id="{{servico.numero}}" name="{{servico.numero}}" type="checkbox"/>
            </ion-col>
          </ion-row>
          </ion-card>
      </div>
    </div>      
    <ion-row style="margin-top: 20px">
      <ion-col col-10 offset-1>
        <button ion-button block (click)="goToOtherPageSolicitar()">Solicitar Serviço</button>
      </ion-col>
    </ion-row>
  </div>

   
</ion-content>
