page-tela-solicitacao-servico {
    #search{
        border: 1px solid #488aff;
        border-radius: 30px;
        height: 40px;
        ion-icon{
            font-size: 2.0em;
            position: relative;
            top: -3px;
        }
    }

    .text-input{
        font-size: 1.4em;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 10px;
        padding: 0 !important;
        position: relative;
        top: -3px;
    }

    

    p{
        font-size: 1.0em;
        margin: 0;
        position: relative;
        top: 10px;
        margin-left: 10px;
        color: #000;
    }

    .card{
        height: 50px;
        p{
            color: #000 !important;
        }
    }

    .button{
        position: relative;
        top: -16px;
    }

    .checkbox{
        position: relative;
        top: 15px;
        .checkbox-icon{
            width: 20px;
            height: 20px;
        }
    }

    input[type=checkbox]{
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    }

    .toolbar-bottom{
        width: 100%;
        background-color: #1E90FF;
        height: 60px;
        position: fixed;
        bottom: 0;
        left: 0px;
        text-align: center;
        .icon{
            font-size: 3.5em;
            color: #fff;
        }
    }

    .header{
        height: 75px;
        img {
            width: 60%;
            margin-left: 11%;
        }
        .icon2{
            position: absolute;
            font-size: 2.5em;
            margin-top: 15px;
            right: 20px;
            color: #488aff;
            font-weight: bold;
        }
        .icon1{
            position: absolute;
            font-size: 2.5em;
            left: 20px;
            color: #488aff;
        }
    }
}
