<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon large name="menu"></ion-icon>
    </button>
    <img src="../assets/imgs/cleanpool-logo.png" />
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div #map id="map"></div>
</ion-content>