<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon large name="menu"></ion-icon>
    </button>
    <img src="../assets/imgs/cleanpool-logo.png" />
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!piscinaCliente">
    <ion-row>
      <ion-col col-12 text-center>
        <ion-spinner style="transform: scale(4); margin-top: 50%;" name="bubbles" color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="piscinaCliente">
    <ion-grid>
      <ion-row>
        <ion-col text-left col-12>
          <h4>Usuário: {{dadosUsuario.nome}}</h4>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <h4>Cliente:</h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-left col-6>
          <div *ngFor="let cPf of clientePF">
            <p *ngIf="cPf.nome">{{ cPf.nome }}</p>
          </div>
          <div *ngFor="let cPj of clientePJ">
              <p *ngIf="cPj.nome">{{ cPj.nome }}</p>
          </div>
        </ion-col>
        <ion-col text-right col-6>
          <!-- <a href="tel:{{numeroContato}}" *ngFor="let contato of contatoCliente">{{ contato.numero }}</a> -->
        </ion-col>
      </ion-row>

      <ion-row style="margin-top:10px">
        <ion-col col-12>
          <h4>Endereço:</h4>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!agenda">
        <ion-col col-12 text-center>
          <span>Carregando Endereço...</span>
          <br>
          <br>
          <ion-spinner name="bubbles"></ion-spinner>
        </ion-col>
      </ion-row>
      <div>
        <div *ngFor="let piscina of piscinaCliente"> 
          <ion-row *ngIf="piscina.id === agenda.idPiscina">
            <ion-col col-9>
              <ion-row>
                <ion-col text-left col-12>
                  <p>{{ piscina.logradouro }}, N {{piscina.numero}}</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-left col-12>
                  <p>{{ piscina.bairro }}, {{ piscina.cidade }}, {{ piscina.siglaunidadefederativa }}</p>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-3>
              <a href="https://www.google.com/maps/search/?api=1&query={{endereco}}">
                <ion-icon class="pin" color="danger" name="pin"></ion-icon>
              </a>
            </ion-col>
          </ion-row>
        </div>
      </div>
    
      <div>
        <div *ngFor="let piscina of piscinaCliente"> 
          <ion-row *ngIf="piscina.id === agenda.idPiscina" style="margin-top: 10px; height: 170px">
            <ion-col>
              <ion-card>
                <img *ngIf="piscina.url" src="http://cleanpoolbackend.clicksistemas.com.br/{{piscina.url}}">
                <img *ngIf="!piscina.url" src="../../assets/imgs/340719-200.png" style="width: 50px; margin-top: 15px; position: relative; left: calc(50% - 25px); top: calc(50% - 40px)">
              </ion-card>
            </ion-col>
            <ion-col text-left>
              <ion-row style="margin-top: 15px; margin-bottom: 5px">
                <p>{{ piscina.descricao }}</p>
              </ion-row>
              <ion-row style="margin-bottom: 5px">
                <p>{{ piscina.formato }}</p>
              </ion-row>
              <ion-row style="margin-bottom: 5px">
                <p>{{ litragem }} Litros</p>
              </ion-row>
            </ion-col>
          </ion-row>
        </div>
      </div>
      <ion-row id="button">
        <ion-col col-10 offset-1>
          <button ion-button color="primary" block (click)="goToOtherPage()" block> Iniciar Tratamento</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
</ion-content>