page-iniciar-tratamento {
  h4{
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
  }

  p, a{
    color: #000;
    font-size: 1.3em;
    margin: 0;
    text-decoration: none;
  }   

  ion-card{
    height: 130px;
    // border: 2px solid #000 !important;
    img{
      width: 100%;
    }
  }

  .pin{
    font-size: 3.5em;
  }
  #pin{
    padding: 0;
    height: 100%;
    width: 100%;
  }

  #button{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
