<ion-header>
  <ion-navbar>
    <img src="../assets/imgs/cleanpool-logo.png" />
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-left col-12>
        <h4>Usuário: {{dadosUsuario.nome}}</h4>
        <h4>Inicio: {{horaInicio}}</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <p>Informe os Parâmetros:</p>
    </ion-row>
  
    <ion-row>
      <p>Alcalinidade Total (ppm)</p>
    </ion-row>

    <ion-scroll class="scroll" scrollX="true">
      <tr>
        <td>
          <label>
            <input type="radio" name="alcalinidade" [(ngModel)]="alcalinidadeEscolhida" value="10" />
            <div class="front-end box alc1">
              <span>10</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="alcalinidade" [(ngModel)]="alcalinidadeEscolhida" value="20" />
            <div class="front-end box alc2">
              <span>20</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="alcalinidade" [(ngModel)]="alcalinidadeEscolhida" value="30" />
            <div class="front-end box alc3">
              <span>30</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="alcalinidade" [(ngModel)]="alcalinidadeEscolhida" value="40" />
            <div class="front-end box alc4">
              <span>40</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="alcalinidade" [(ngModel)]="alcalinidadeEscolhida" value="50" />
            <div class="front-end box alc5">
              <span>50</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="alcalinidade" [(ngModel)]="alcalinidadeEscolhida" value="60" />
            <div class="front-end box alc6">
              <span>60</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="alcalinidade" [(ngModel)]="alcalinidadeEscolhida" value="70" />
            <div class="front-end box alc7">
              <span>70</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="alcalinidade" [(ngModel)]="alcalinidadeEscolhida" value="80" />
            <div class="front-end box alc8">
              <span>80</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="alcalinidade" [(ngModel)]="alcalinidadeEscolhida" value="90" />
            <div class="front-end box alc9">
              <span>90</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="alcalinidade" [(ngModel)]="alcalinidadeEscolhida" value="100" />
            <div class="front-end box alc10">
              <span>100</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="alcalinidade" [(ngModel)]="alcalinidadeEscolhida" value="110" />
            <div class="front-end box alc11">
              <span>110</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="alcalinidade" [(ngModel)]="alcalinidadeEscolhida" value="120" />
            <div class="front-end box alc12">
              <span>120</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="alcalinidade" [(ngModel)]="alcalinidadeEscolhida" value="130" />
            <div class="front-end box alc13">
              <span>130</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="alcalinidade" [(ngModel)]="alcalinidadeEscolhida" value="140" />
            <div class="front-end box alc14">
              <span>140</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="alcalinidade" [(ngModel)]="alcalinidadeEscolhida" value="150" />
            <div class="front-end box alc15">
              <span>150</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="alcalinidade" [(ngModel)]="alcalinidadeEscolhida" value="160" />
            <div class="front-end box alc16">
              <span>160</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="alcalinidade" [(ngModel)]="alcalinidadeEscolhida" value="170" />
            <div class="front-end box alc17">
              <span>170</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="alcalinidade" [(ngModel)]="alcalinidadeEscolhida" value="180" />
            <div class="front-end box alc18">
              <span>180</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="alcalinidade" [(ngModel)]="alcalinidadeEscolhida" value="190" />
            <div class="front-end box alc19">
              <span>190</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="alcalinidade" [(ngModel)]="alcalinidadeEscolhida" value="200" />
            <div class="front-end box alc20">
              <span>200</span>
            </div>
          </label>
        </td>
      </tr>
    </ion-scroll>
    
    <hr>

    <ion-row style="position: relative">
      <p>pH</p>
    </ion-row>
  
    <ion-scroll class="scroll" scrollX="true">
      <tr>
        <td>
          <label>
            <input type="radio" name="ph" [(ngModel)]="phEscolhida" value="6.7" />
            <div class="front-end box ph1">
              <span>6.7</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="ph" [(ngModel)]="phEscolhida" value="7.2" />
            <div class="front-end box ph2">
              <span>7.2</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="ph" [(ngModel)]="phEscolhida" value="7.6" />
            <div class="front-end box ph3">
              <span>7.6</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="ph" [(ngModel)]="phEscolhida" value="7.8" />
            <div class="front-end box ph4">
              <span>7.8</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="ph" [(ngModel)]="phEscolhida" value="8.2" />
            <div class="front-end box ph5">
              <span>8.2</span>
            </div>
          </label>
        </td>
      </tr>
    </ion-scroll>

    <hr>
  
    <ion-row style="position: relative">
      <p>Cloro livre (ppm)</p>
    </ion-row>

    <ion-scroll class="scroll" scrollX="true">
      <tr>
        <td>
          <label>
            <input type="radio" name="cloro" [(ngModel)]="cloroEscolhido" value="0" />
            <div class="front-end box clo1">
              <span>0</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="cloro" [(ngModel)]="cloroEscolhido" value="0.5" />
            <div class="front-end box clo1">
              <span>0.5</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="cloro" [(ngModel)]="cloroEscolhido" value="1" />
            <div class="front-end box clo2">
              <span>1</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="cloro" [(ngModel)]="cloroEscolhido" value="1.5" />
            <div class="front-end box clo2">
              <span>1.5</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="cloro" [(ngModel)]="cloroEscolhido" value="2" />
            <div class="front-end box clo3">
              <span>2</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="cloro" [(ngModel)]="cloroEscolhido" value="3" />
            <div class="front-end box clo4">
              <span>3</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="cloro" [(ngModel)]="cloroEscolhido" value="5" />
            <div class="front-end box clo5">
              <span>5</span>
            </div>
          </label>
        </td>
      </tr>
    </ion-scroll>

    <hr>
  
    <ion-row style="position: relative">
      <p>
        Ácido Cianúrico (ppm)</p>
    </ion-row>

    <ion-scroll class="scroll" scrollX="true">
      <tr>
        <td>
          <label>
            <input type="radio" name="acido" [(ngModel)]="acidoEscolhido" value="0" />
            <div class="front-end box aci1">
              <span>0</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="acido" [(ngModel)]="acidoEscolhido" value="50" />
            <div class="front-end box aci2">
              <span>40 a 50</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="acido" [(ngModel)]="acidoEscolhido" value="80 a 100" />
            <div class="front-end box aci3">
              <span>80 a 100</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="acido" [(ngModel)]="acidoEscolhido" value="150" />
            <div class="front-end box aci4">
              <span>150</span>
            </div>
          </label>
        </td>
      </tr>
    </ion-scroll>

    <hr>

    <ion-row>
      <p>Dureza Cálcica (ppm)</p>
    </ion-row>

    <ion-scroll class="scroll" scrollX="true">
      <tr>
          <td>
              <label>
                <input type="radio" name="durezaCalcica" [(ngModel)]="durezaCalcicaEscolhida" value="0" />
                <div class="front-end box alc1">
                  <span>0</span>
                </div>
              </label>
            </td>
        <td>
          <label>
            <input type="radio" name="durezaCalcica" [(ngModel)]="durezaCalcicaEscolhida" value="10" />
            <div class="front-end box alc2">
              <span>10</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="durezaCalcica" [(ngModel)]="durezaCalcicaEscolhida" value="20" />
            <div class="front-end box alc2">
              <span>20</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="durezaCalcica" [(ngModel)]="durezaCalcicaEscolhida" value="30" />
            <div class="front-end box alc3">
              <span>30</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="durezaCalcica" [(ngModel)]="durezaCalcicaEscolhida" value="40" />
            <div class="front-end box alc4">
              <span>40</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="durezaCalcica" [(ngModel)]="durezaCalcicaEscolhida" value="50" />
            <div class="front-end box alc5">
              <span>50</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="durezaCalcica" [(ngModel)]="durezaCalcicaEscolhida" value="60" />
            <div class="front-end box alc6">
              <span>60</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="durezaCalcica" [(ngModel)]="durezaCalcicaEscolhida" value="70" />
            <div class="front-end box alc7">
              <span>70</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="durezaCalcica" [(ngModel)]="durezaCalcicaEscolhida" value="80" />
            <div class="front-end box alc8">
              <span>80</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="durezaCalcica" [(ngModel)]="durezaCalcicaEscolhida" value="90" />
            <div class="front-end box alc9">
              <span>90</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="durezaCalcica" [(ngModel)]="durezaCalcicaEscolhida" value="100" />
            <div style="width: 80px" class="front-end box alc10">
              <span>100 a 250</span>
            </div>
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="durezaCalcica" [(ngModel)]="durezaCalcicaEscolhida" value="250" />
            <div style="width: 100px" class="front-end box alc21">
              <span>Acima 250</span>
            </div>
          </label>
        </td>
      </tr>
    </ion-scroll>
  
    <ion-row style="position: relative;">
      <ion-col col-9></ion-col>
      <ion-col col-3 text-center>
        <button ion-button round (click)="goToOtherPage()" style="width: 55px; height: 55px">
          <ion-icon name="arrow-forward" large></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
    

</ion-content>