page-servico {
    h4{
        border-bottom: 2px solid #000;
        padding-bottom: 5px;
    }

    p{
        font-size: 1.5em;
        margin-top: 12px !important;
        margin-bottom: 10px !important;
    }
    ion-list {
        display: inline-flex;
        width: 100%;
    }
    .list{
        margin: 0;
    }
    .input-wrapper{
        width: 100%;
    }
    .item{
        margin: 0;
        padding: 0 !important;
        border: 1px solid #000;
        width: 20%;
    }
    .item-inner{
        padding: 0 !important;
    }
    .label{
        width: 100%;
        text-align: center;
        margin: 0;
        font-size: 1.1em;
    }

    ion-icon{
        font-size: 2.5em;
    }

    input[type="radio"] {
        display: none;
        &:checked {
            + .box {
                border: 2px solid #000;
                border-radius: 8px;
                span {
                color: #000;
                top: 9px;
                transform: translateY(70px);
                    &:before {
                        transform: translateY(0px);
                        opacity: 1;
                    }
                }
            }
        }
    }
    .alc1{
        background-color: rgb(244, 28, 44);
    }
    .alc2{
        background-color: rgb(251, 105, 47);
    }
    .alc3{
        background-color: rgb(254, 151, 52);
    }
    .alc4{
        background-color: rgb(253, 181, 54);
    }
    .alc5{
        background-color: rgb(246, 235, 60);
    }
    .alc6{
        background-color: rgb(246, 235, 60);
    }
    .alc7{
        background-color: rgb(217, 217, 65);
    }
    .alc8{
        background-color: rgb(125, 196, 78);
    }
    .alc9{
        background-color: rgb(125, 196, 78);
    }
    .alc10{
        background-color: rgb(0, 176, 84);
    }
    .alc11{
        background-color: rgb(0, 156, 89);
    }
    .alc12{
        background-color: rgb(0, 139, 130);
    }
    .alc13{
        background-color: rgb(0, 105, 177);
    }
    .alc14{
        background-color: rgb(0, 105, 177);
    }
    .alc15{
        background-color: rgb(0, 78, 145);
        span{
            color: #fff !important;
        }
    }
    .alc16{
        background-color: rgb(0, 78, 145);
        span{
            color: #fff !important;
        }
    }
    .alc17{
        background-color: rgb(44, 46, 129);
        span{
            color: #fff !important;
        }
    }
    .alc18{
        background-color: rgb(44, 46, 129);
        span{
            color: #fff !important;
        }
    }
    .alc19{
        background-color: rgb(33, 29, 97);
        span{
            color: #fff !important;
        }
    }
    .alc20{
        background-color: rgb(33, 29, 97);
        span{
            color: #fff !important;
        }
    }
    .alc21{
        background-color: #006400;
        span{
            color: #fff !important;
        }
    }
    .ph1{
        background-color: rgb(255, 175, 79)
    }
    .ph2{
        background-color: rgb(253, 149, 84)
    }
    .ph3{
        background-color: rgb(251, 126, 90)
    }
    .ph4{
        background-color: rgb(249, 102, 97)
    }
    .ph5{
        background-color: rgb(220, 74, 107)
    }
    .clo1{
        background-color: rgb(255, 252, 223)
    }
    .clo2{
        background-color: rgb(248, 242, 227)
    }
    .clo3{
        background-color: rgb(240, 228, 224)
    }
    .clo4{
        background-color: rgb(199, 175, 211)
    }
    .clo5{
        background-color: rgb(188, 143, 191)
    }
    .aci1{
        background-color: rgb(210, 149, 95);
        width: 76px !important;
    }
    .aci2{
        background-color: rgb(207, 121, 58);
        width: 76px !important;
    }
    .aci3{
        background-color: rgb(214, 92, 113);
        width: 76px !important;
    }
    .aci4{
        background-color: rgb(198, 48, 138);
        width: 76px !important;
    }
    .box {
        width: 60px;
        height: 40px;
        transition: all 250ms ease;
        will-change: transition;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        position: relative;
        font-weight: 900;
        margin-right: 5px;
        span {
            position: relative;
            font-size: 1.1em;
            user-select: none;
            color: #000;
            top: 11px;
            &:before {
                font-size: 1.1em;
                display: block;
                transform: translateY(-80px);
                opacity: 0;
                transition: all 300ms ease-in-out;
                font-weight: normal;
                color: #000;
            }
        }
    }
    #genero{
        color: #00E8EF;
        font-size: 1.2em;
        margin-left: 10px;
    }
    ion-scroll.scroll-x .scroll-content {
        height: 50px !important;
        padding: 0 !important; 
    }

    hr{
        border-bottom: 1px solid #000;
        margin-top: 10px;
        margin-bottom: 0px;    
    }
    .scroll{
        .scroll-content{
            position: relative;
            border-bottom: 1px solid #000;
        }
    }

    .content-md hr {
        border-bottom: 1px solid #000;
        margin-top: 10px;
        margin-bottom: 0px;   
    }
}
