page-tela-perfil {
    h3{
        margin-top: 0;
        text-align: center,

    }
    .header{
        height: 75px;
        img {
            width: 50%;
            margin-left: 25%;
        }
        .icon2{
            position: absolute;
            font-size: 2.5em;
            margin-top: 15px;
            right: 20px;
            color: #488aff;
            font-weight: bold;
        }
        .icon1{
            position: absolute;
            font-size: 2.5em;
            margin-top: 15px;
            left: 20px;
            color: #488aff;
        }
    }
    .card{
        height: 150px;
        img{
            position: relative;
        }
        p{
            width: 100%;
            z-index: 3;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            text-align: center;
            font-size: 2.0em;
            text-transform: uppercase;
            font-weight: 400;
            color: #FFF;
            background-color: rgba(0, 0, 0, 0.4);
        }
    }


}
