<ion-header>
    <ion-navbar>
      <img src="../assets/imgs/cleanpool-logo.png" />
      <ion-icon (click)="logOut()" class="icon2" name="ios-log-out-outline"></ion-icon>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <h3 style="margin-top:10px">Escolha um Perfil</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-card style="margin-top:30px" (click)="goToOtherPageAgendaPiscineiro()">
            <p>Piscineiro</p>
            <img src="../../assets/imgs/curso-de-piscineiro-5.jpg" style="top:-45px">
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-card style="margin-top:40px" (click)="goToOtherPageCliente()">
            <p>Cliente</p>
            <img src="../../assets/imgs/sonhar-com-piscina-380x249.jpg" style="top:-45px">
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>