<ion-header>
  <ion-navbar>
    <ion-icon *ngIf="botaoPerfil" (click)="trocarPerfil()" class="icon1" name="ios-contact"></ion-icon>
    <img src="../assets/imgs/cleanpool-logo.png" />
    <ion-icon (click)="logOut()" class="icon2" name="ios-log-out-outline"></ion-icon>
  </ion-navbar>
</ion-header>
  
  <ion-content padding>
    <ion-row style="margin-top: 10px">
      <ion-col text-center>
        <h3>Agenda de {{dadosUsuario.nome}}</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8>
        <ion-datetime style="margin-left: 35%; padding: 0; margin-top: 5px;" displayFormat="DD/MM/YYYY"
          [ngModel]="dataFiltro" (ngModelChange)="filtrarData($event)"></ion-datetime>
      </ion-col>
      <ion-col col-4>
        <ion-icon style="font-size: 3.5em" card-right color="primary" name="calendar"></ion-icon>
      </ion-col>
    </ion-row>
    <div *ngIf="!mensagemToogle">
      <ion-row>
        <ion-col col-12 text-center>
          <ion-spinner style="transform: scale(4); margin-top: 50%;" name="bubbles" color="primary"></ion-spinner>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="mensagemToogle">
      <ion-row>
        <ion-col col-10 offset-1>
          <button ion-button color="primary" block small style="width: 100%" (click)="reiniciaLista()">{{ mensagemToogleAgenda }}</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-10 offset-1>
          <button ion-button block small
            (click)="manipulaParaListaAgenda(exibeAberto = !exibeAberto)">{{ mensagemToogle }}</button>
        </ion-col>
      </ion-row>
  
      <ion-row *ngFor="let agenda of listaAgendas">
        <div style="width: 100%">
          <ion-card style="width: 90%; margin-left: 5%; height:105px">
            <button (click)="goToOtherPage(agenda)" ion-button clear block style="height: 100%">
              <ion-col col-3 text-left style="margin-top: -8px">
                <ion-icon name="person" color="primary"></ion-icon>
              </ion-col>
              <ion-col col-9 text-left style="margin-top: -8px">
                <p style="font-size: 1em">{{ agenda.nomecliente }}</p>
                <p style="font-size: 1em">Dia: {{ agenda.datainicio }}</p>
                <p style="font-size: 1em">Às {{ agenda.horainicio }}</p>
                <p style="font-size: 1em; color: red">{{ agenda.situacao }}</p>
              </ion-col>
            </button>
          </ion-card>
        </div>
      </ion-row>
    </div>
    <!-- <pre>Produtos {{produtos | json}}</pre> -->
    <!-- <pre>Agenda Montada {{agendasFinalizadas | json}}</pre> -->
    <!--<pre>Agendas {{agendas | json}}</pre>

    <pre>Produtos Sugeridos {{listaProdutosSugeridos | json}}</pre>
    <pre>Servicos Agendidos {{listaServicosAtendidos | json}}</pre> -->
    <br>
    <br>
    <br>
  </ion-content>