page-agenda {
    .datetime-text{
        font-size: 1.5em;
        margin-top: 10px;
    }
    ion-card p{
        text-align: left;
    }

    .list {
        margin: -1px 0 16px;
        width: 100%;
        margin-left: 0px;
    }

    ion-header img{
        width: 50%;
        margin-left: 15%;
    }

    ion-col ion-icon{
        position: relative;
        font-size: 5.0em;
    }

    .card{
      box-shadow: none;
      border: 1px solid #ddd;
    }

    .header{
        height: 75px;
        img {
            width: 50%;
            margin-left: 25% !important;
        }
        .icon2{
            position: absolute;
            font-size: 2.5em;
            margin-top: 15px;
            right: 20px;
            color: #488aff;
            font-weight: bold;
        }
        .icon1{
            position: absolute;
            font-size: 2.5em;
            margin-top: 15px;
            left: 20px;
            color: #488aff;
            font-weight: bold;
        }
    }
}
