<ion-header>
  <ion-navbar>
    <img src="../assets/imgs/cleanpool-logo.png" />
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="cadastro">
    <ion-list>
      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input type="text" formControlName="nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Razão Social</ion-label>
        <ion-input type="text" formControlName="razaosocial"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>E-mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>CNPJ</ion-label>
        <ion-input type="text" formControlName="numero" [brmasker]="{person: true}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Telefone</ion-label>
        <ion-input type="text" formControlName="telefone" [brmasker]="{phone: true}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Celular</ion-label>
        <ion-input type="tel" formControlName="celular" [brmasker]="{phone: true}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Login</ion-label>
        <ion-input type="text" formControlName="login"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input type="password" formControlName="senha"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Confirmação</ion-label>
        <ion-input type="password" formControlName="confirmacao"></ion-input>
      </ion-item>
      <ion-item style="display: none">

      </ion-item>
    </ion-list>
  </form>
  <ion-row>
    <ion-col col-8 offset-2>
      <button [disabled]="!cadastro.valid" (click)="autenticarCadastro()" ion-button block> Cadastrar</button>
    </ion-col>
  </ion-row>
</ion-content>