page-conteudo {
    .btn{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .imagem{
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: 2px solid #488aff;
        margin-top: 13px
    }
    p{
        color: #000;
        font-size: 1.3em;
        padding: 0;
        margin: 0;
        word-wrap:  normal;
        text-align: center
    }
    a{
        color: #488aff;
        font-size: 1.4em !important;
        text-align: center
    }

    .mtp{
        margin-top: 23px;
    }

    .col{
        padding: 5px;
    }

    hr{
        width: 100%;
        border-bottom: 1px solid #488aff;
    }

    .header{
        height: 75px;
        img {
            width: 60%;
            margin-left: 11%;
        }
        .icon2{
            position: absolute;
            font-size: 2.5em;
            margin-top: 15px;
            right: 20px;
            color: #488aff;
            font-weight: bold;
        }
        .icon1{
            position: absolute;
            font-size: 2.5em;
            left: 20px;
            color: #488aff;
        }
    }
}
