<ion-header>
    <ion-navbar>
        <img src="../assets/imgs/cleanpool-logo.png" />
        <ion-icon (click)="logOut()" class="icon2" name="ios-log-out-outline"></ion-icon>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <ion-row *ngFor="let conteudo of listaConteudo">
    <ion-col col-12>
      <ion-row>
        <ion-col col-6 text-right >
          <img src="{{conteudo.linkimagem}}" alt="" class="imagem">
        </ion-col>
        <ion-col col-6 text-left>
          <ion-row class="mtp">
            <ion-col>
              <p>{{conteudo.descricao}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button ion-button clear class="btn">
                <a href="{{conteudo.link}}" class="link">Saiba Mais</a>
              </button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
    <!-- <hr> -->
  </ion-row>
  
</ion-content>