<ion-content padding>
  <img src="../assets/imgs/cleanpool-logo.png" />

  <ion-grid fixed>
    <ion-row>
      <ion-col col-12>
        <form [formGroup]="form">
          <ion-list>
            <ion-item>
              <ion-label floating>Login</ion-label>
              <ion-input type="text" formControlName="login"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Senha</ion-label>
              <ion-input [type]="isTextFieldType ? 'text' : 'password'" formControlName="senha"></ion-input> <ion-icon (click)="togglePasswordFieldType()" [name]="isTextFieldType ? 'eye-off' : 'eye'" item-right></ion-icon>
            </ion-item>
            <ion-item>
              &nbsp;
            </ion-item>
          </ion-list>
          <div *ngIf="dialogErro">
            <p>Usuário e/ou senha incorreto(s)</p>
          </div>
          <button ion-button color="primary" [disabled]="!form.valid" (click)="autenticarAcesso()" block>Entrar</button>
          <button (click)="goToOtherPageCadastro()" style="margin-top:10px !important" ion-button block>Registre-se</button>
          <button (click)="redefinirSenha()" color="danger" style="margin-top:10px !important" ion-button block>Esqueceu a Senha?</button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <pre>Login {{logins | json}}</pre> -->
</ion-content>
