page-tela-login {
    img{
        width: 90%;
        margin-left: 5%;
        margin-top: 40px;
        margin-bottom: 50px;
    }
    .label{
        color: #000 !important;
    }

    .list-ios > .item-block:first-child {
        border-top: none;
    }

    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: none;
    }

    .erroLogin {
      border: 2px solid #CC3333;
      border-radius: 5px;
      text-align: center;
      font-size: 18px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      
    }
    p{
        position: absolute;
        top: 135px;
        color: red;
        left: 20px;
      }

    .icon{
        z-index: 10;
        width: 50px;
        font-size: 2em;
        color: #488aff;
        height: 40px;
        padding: 10px;
        position: relative;
        left: 10px;
    }
}
