page-servico2 {
    h4{
        border-bottom: 2px solid #000;
        padding-bottom: 5px;
    }
    h2{
        font-size: 1.2em;
    }

    p{
        font-size: 1.5em;
    }

    .label{
        font-size: 16px;
        color: #000 !important;
    }

    input.text-input{
        border: solid 1px #000;
        height: 30px;
        width: 30px;
        position: absolute;
        right: 7px;
        top: -9px;
        text-align: center;
        font-size: 16px;
    }

    p{
        font-size: 18px;
        margin-left: 15px;
    }

    textarea.text-input{
        border: solid 1px #000;
        width: 95%;
        height: 150px;
        position: absolute;
        right: 7px;
        top: -9px;
        font-size: 14px;
        padding: 10px;
    }

    .checkbox-icon{
        zoom: 1.3;
    }

    .item-md {
        padding-left: 0px !important;
    }

    .list-md .item-block .item-inner {
        border-bottom: 1px solid #000 !important;
    }


    .inputGroup {
        background-color: #fff;
        display: block;
        margin: 10px 0;
        position: relative;
    
        label {
            font-size: 1.1em;
            top: -5px;
            border-bottom: 1px solid #000;
            padding: 12px 0px;
            width: 100%;
            display: block;
            text-align: left;
            color: #000;
            cursor: pointer;
            position: relative;
            z-index: 2;
            transition: color 200ms ease-in;
            overflow: hidden;
    
          &:before {
            width: 10px;
            height: 10px;
            border-bottom: 1px solid #000;
            border-radius: 50%;
            content: '';
            background-color: #FFF;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale3d(1, 1, 1);
            transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
            opacity: 0;
            z-index: -1;
          }
    
          &:after {
            width: 20px;
            height: 20px;
            content: '';
            border: 1px solid #000;
            background-color: #fff;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
            background-repeat: no-repeat;
            background-position: 0px -1px;
            border-radius: 50%;
            z-index: 2;
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            transition: all 200ms ease-in;
          }
        }
    
        input:checked ~ label {
          color: #000;
    
          &:before {
            transform: translate(-50%, -50%) scale3d(56, 56, 1);
            opacity: 1;
          }
    
          &:after {
            background-color: #488aff;
            border-color: #488aff;
          }
        }
    
        input {
          width: 20px;
          height: 20px;
          order: 1;
          z-index: 2;
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
          visibility: hidden;
        }
    }

}
