<ion-header>
  <ion-navbar>
    <img src="../assets/imgs/cleanpool-logo.png" />
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="!dadosServicosAgenda">
    <ion-row>
      <ion-col col-12 text-center>
        <ion-spinner style="transform: scale(4); margin-top: 50%;" name="bubbles" color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="dadosServicosAgenda">
    <ion-grid>
      <ion-row>
        <ion-col text-left col-12>
          <h4>Usuário: {{dadosUsuario.nome}}</h4>
          <h4>Inicio: {{horaInicio}}</h4>
        </ion-col>
      </ion-row>
      <ion-list>
        
      </ion-list>
      <form class="form" [formGroup]="myForm">
        <ion-list inset style="margin-top:0">
          <ion-item>
            <h2>Serviços Realizados:</h2>
          </ion-item>
          <div class="inputGroup" *ngFor="let servico of listaServicos">
            <input (change)="onChange(servico.id, $event.target.checked)" id="{{servico.numero}}" name="{{servico.numero}}" type="checkbox"/>
            <label for="{{servico.numero}}">{{servico.nome}}</label>
          </div>
        </ion-list>
      
        <ion-row>
          <p>Observações</p>
        </ion-row>
        <ion-row style="height: 160px">
          <ion-textarea formControlName="observacao"></ion-textarea>
        </ion-row>
      </form>
    
      <ion-row>
        <ion-col col-10 offset-1>
          <button [disabled]="!myForm.valid" (click)="goToOtherPageFoto()" block ion-button>Adcionar Fotos</button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>