ion-header img {
    width: 50%;
    margin-left: 15%;
}

.toolbar-background-md{
    background-color: #FFF !important;
    border: none !important;
}

.logo-menu{
    margin-top: 20px;
}

.list-menu{
    width: 95%;
    margin-left: 5%;
}