<ion-menu id="cliente" [content]="content" side="left">
  <ion-row class="logo-menu">
    <ion-col col-10 offset-1>
      <img src="../assets/imgs/cleanpool-logo.png">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-list  no-lines class="list-menu">
        <button menuClose ion-item *ngFor="let p of pagesCliente" (click)="openPage(p)">
          {{p.title}}
        </button>
      </ion-list>
  </ion-row>
</ion-menu>
  
<ion-menu id="clientePiscineiro" [content]="content" side="left">
  <ion-row class="logo-menu">
    <ion-col col-10 offset-1>
      <img src="../assets/imgs/cleanpool-logo.png">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-list  no-lines class="list-menu">
        <button menuClose ion-item (click)="openPageHomeCliente()">
            Home
        </button>
        <button menuClose ion-item *ngFor="let p of pagesCliente" (click)="openPage(p)">
          {{p.title}}
        </button>
        <button menuClose ion-item (click)="openPagePerfil()">
            Trocar Perfil
        </button>
      </ion-list>
  </ion-row>
</ion-menu>
  
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>