<ion-header>
  <ion-navbar>
    <img src="../assets/imgs/cleanpool-logo.png" />
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row [hidden]="!foto" >
      <ion-col col-10 offset-1>
        <ion-slides #mySlider>
          <ion-slide *ngFor="let foto of listaFotos">
            <img src="{{foto.url}}">
          </ion-slide>
        </ion-slides>
      </ion-col>
      <div class="swiper-button-next" (click)="slideNext()"></div>
      <div class="swiper-button-prev" (click)="slidePrev()"></div>
    </ion-row>
    <ion-row>
      <ion-col id="button" col-10 offset-1>
        <button ion-button block color="primary" (click)="tirarNovaFoto()">Nova Foto</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="button" col-10 offset-1>
        <button ion-button block color="primary" (click)="goToOtherPageFinalizar()">Finalizar Manutenção</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>