page-add-foto {
    .borderBottom{
        border-bottom: 2px solid #000;
    }

    ion-card{
        width: 70% !important;
        margin-left: 15% !important;
        height: 200px;
    }

    h4{
        text-align: center;
    }

    #button{
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    
    p{
        font-size: 0.9em;
        color: #000;
        word-wrap:  normal;
        text-align: justify;
        padding: 5px;
        line-height: 20px;
    }
}
