<ion-header>
    <ion-navbar>
        <ion-icon menuToggle class="icon1" name="menu"></ion-icon>
        <img src="../assets/imgs/cleanpool-logo.png" />
        <ion-icon (click)="logOut()" class="icon2" name="ios-log-out-outline"></ion-icon>
    </ion-navbar>
  </ion-header>
    
    
<ion-content padding>
  <div style="overflow-y: scroll; height: 92%;"> 
    <ion-card *ngFor="let piscina of listaPiscinas">
      <ion-row (click)="goToPageProduto(piscina)" class="piscina">
        <ion-col col-4>
          <img *ngIf="piscina.url" src="http://cleanpoolbackend.clicksistemas.com.br/{{piscina.url}}">
          <img *ngIf="!piscina.url" src="../../assets/imgs/340719-200.png" style="width: 50px; margin-top: 15px; position: relative; left: calc(50% - 25px); top: calc(50% - 40px)">
        </ion-col>
        <ion-col col-8>
          <p>{{piscina.logradouro}}</p>
          <p>Numero {{piscina.numero}}</p>
          <p>{{piscina.bairro}}</p>
          <p>{{piscina.nomecidade}} - {{piscina.nomeunidadefederativa}}</p>
        </ion-col>
      </ion-row>
    </ion-card>
  </div> 
</ion-content>
    