page-selecionar-piscina {    
    .header{
        height: 75px;
        img {
            width: 60%;
            margin-left: 11%;
        }
        .icon2{
            position: absolute;
            font-size: 2.5em;
            margin-top: 15px;
            right: 20px;
            color: #488aff;
            font-weight: bold;
        }
        .icon1{
            position: absolute;
            font-size: 2.5em;
            left: 20px;
            color: #488aff;
        }
    }   

    hr{
        border-bottom: 1px solid #000;
    }
}
