<ion-header>
  <ion-navbar>
    <img src="../assets/imgs/cleanpool-logo.png" />
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <h2>Informe os seus dados</h2>
      </ion-col>
    </ion-row>
    <form [formGroup]="form">
      <ion-row>
        <ion-col col-12>
          <ion-list>
            <ion-item>
              <ion-label floating>E-mail</ion-label>
              <ion-input type="text" formControlName="email"></ion-input>
            </ion-item>
            <ion-item>
              &nbsp;
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button (click)="enviarEmail()" [disabled]="!form.valid" color="primary" block>Entrar</button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>