page-tela-solicitacao-troca-senha {
    h2{
        text-align: center
    }

    .label{
        color: #000 !important;
    }

    .list-ios > .item-block:first-child {
        border-top: none;
    }

    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: none;
    }
}
