page-agenda-cliente {
    .label{
        color: #000 !important;
        margin: 0;
        color: #FFF !important;
        font-size: 1.2em;
    }

    .data{
        background-color: #488aff;
        border: 1px solid #488aff;
    }

    .card{
        box-shadow: none;
        border: 1px solid #ddd;
    }

    .datetime{
        font-size: 1.2em;
    }

    .toolbar-bottom{
        width: 100%;
        background-color: #1E90FF;
        height: 60px;
        position: fixed;
        bottom: 0;
        left: 0px;
        text-align: center;
        .icon{
            font-size: 3.5em;
            color: #fff;
        }
    }

    .header{
        height: 75px;
        img {
            width: 60%;
            margin-left: 11%;
        }
        .icon2{
            position: absolute;
            font-size: 2.5em;
            margin-top: 15px;
            right: 20px;
            color: #488aff;
            font-weight: bold;
        }
        .icon1{
            position: absolute;
            font-size: 2.5em;
            left: 20px;
            color: #488aff;
        }
    }

    ion-col ion-icon{
        position: relative;
        font-size: 6.0em;
    }

    .cardServico{
        width: 100%; 
        height: 100px
    }
}
