<ion-header>
    <ion-navbar>
        <ion-icon menuToggle class="icon1" name="menu"></ion-icon>
        <img src="../assets/imgs/cleanpool-logo.png" />
    </ion-navbar>
  </ion-header>
  

<ion-content padding>
  <ion-row style="margin-top: 10px">
    <ion-col text-center>
      <h3>Agenda de Visitas</h3>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-6>
      <ion-card>
        <ion-row class="data">
          <ion-col col-12 text-center>
            <ion-label>Data Início</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 text-center>
            <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" max="2099-12-31" [(ngModel)]="event.startDate" (ngModelChange)="consultaAgendaCliente()"></ion-datetime>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col col-6>
      <ion-card>
        <ion-row class="data">
          <ion-col col-12 text-center>
            <ion-label>Data Final</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 text-center>
            <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" max="2099-12-31" [(ngModel)]="event.endDate" (ngModelChange)="consultaAgendaCliente()"></ion-datetime>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>

  <hr>
  <ion-row>
    <ion-col col-10 offset-1>
      <button ion-button block small (click)="manipulaParaListaAgenda(exibeAberto = !exibeAberto)">{{ mensagemToogle }}</button>
    </ion-col>
  </ion-row>
  <hr>

  <ion-row>
    <ion-card class="cardServico" *ngFor="let agenda of listaAgendas">
      <button ion-button clear block style="height: 100%">
        <ion-col col-4 text-left>
          <ion-icon name="construct" color="primary"></ion-icon>
        </ion-col>
        <ion-col col-8 text-left>
          <p style="font-size: 1.1em">{{agenda.nomePiscineiro}}</p>
          <p style="font-size: 1.1em">Dia: {{agenda.dataAtendimento}}</p>
          <p style="font-size: 1.1em">Às {{agenda.horarioAtendimento}}</p>
          <p style="font-size: 0.8em">Situação: {{agenda.situacao}}</p>
        </ion-col>
      </button>
    </ion-card>
  </ion-row>
</ion-content>