<ion-content padding>
    <ion-row>
      <ion-col col-12 text-center>
        <ion-spinner style="transform: scale(4); margin-top: 50%;" name="bubbles" color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-content>
  