<ion-header>
  <ion-navbar>
      <ion-icon menuToggle class="icon1" name="menu"></ion-icon>
      <img src="../assets/imgs/cleanpool-logo.png" />
      <ion-icon (click)="logOut()" class="icon2" name="ios-log-out-outline"></ion-icon>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div style="overflow-y: scroll; height: 92%;">
    <div *ngFor="let piscina of listaPiscinas" style="width: 100%">
      <ion-row class="piscina" (click)="goToPageServico(piscina)">
        <ion-col col-5>
            <img *ngIf="piscina.url" src="http://cleanpoolbackend.clicksistemas.com.br/{{piscina.url}}">
            <img *ngIf="!piscina.url" src="../../assets/imgs/340719-200.png" style="width: 50px; margin-top: 15px; position: relative; left: calc(50% - 25px); top: calc(50% - 40px)">
        </ion-col>
        <ion-col col-7>
          <p>{{piscina.descricao}}</p>
          <p>{{piscina.logradouro}}</p>
          <p>Numero {{piscina.numero}}</p>
          <p>{{piscina.bairro}}</p>
          <p>{{piscina.nomecidade}} - {{piscina.nomeunidadefederativa}}</p>
        </ion-col>
        <hr>
      </ion-row>
    </div>
  </div>
  <div class="toolbar-bottom">
    <ion-row>
      <ion-col col-4>
        <ion-icon (click)="goToPagePedido()" name="md-basket"></ion-icon>
      </ion-col>
      <ion-col col-4>
        <ion-icon (click)="goToPageAgenda()" name="md-calendar"></ion-icon>
      </ion-col>
      <ion-col col-4>
        <ion-icon (click)="goToPageConteudo()" name="logo-rss"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
