page-home-cliente {
    .piscina{
        img{
            width: 100%
        }
        p{
            margin: 5px;
            font-size: 1.2em;
        }
    }
    .toolbar-bottom{
        width: 100%;
        background-color: #1E90FF;
        height: 60px;
        position: fixed;
        bottom: 0;
        left: 0px;
        text-align: center;
        .icon{
            font-size: 3.5em;
            color: #fff;
        }
    }

    .header{
        height: 75px;
        img {
            width: 50%;
            margin-left: 25%;
        }
        .icon2{
            position: absolute;
            font-size: 2.5em;
            margin-top: 15px;
            right: 20px;
            color: #488aff;
            font-weight: bold;
        }
        .icon1{
            position: absolute;
            font-size: 2.5em;
            left: 20px;
            color: #488aff;
        }
    }
    hr{
        background-color: #000;
        width: 100%;
    }
}
