<ion-content padding>
  <ion-row>
    <ion-col col-12 text-center>
      <ion-spinner style="transform: scale(4); margin-top: 50%;" name="bubbles" color="primary"></ion-spinner>
    </ion-col>
  </ion-row>
  <!-- <ion-row>
    <ion-col col-10 offset-1>
      <button ion-button block small
        (click)="mudaPagina()">Agenda</button>
    </ion-col>
  </ion-row>
  <pre>Agenda {{agendaFinalizada | json}}</pre>
  <pre>Servico {{listaServicosAtendidos | json}}</pre>
  <pre>Produto {{listaProdutosSugeridos | json}}</pre>
  <pre>Agenda Finalizada {{agendasFinalizadas | json}}</pre> -->
</ion-content>
