<ion-header>
  <ion-navbar>
    <img src="../assets/imgs/cleanpool-logo.png" />
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-left col-12>
        <h4>Usuário: {{dadosUsuario.nome}}</h4>
        <h4>Inicio: {{horaInicio}}</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <p>Dados para Tratamento:</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <p>Alcalinidade Total (ppm)</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <p class="info">{{dadosTratamento.msgAlcalinidade}}</p>
      </ion-col>
    </ion-row>

    <ion-row class="dosagem">
      <ion-col col-12>
        <p><b>Dosagem:</b> {{dadosTratamento.dosagemAlcalinidade}}</p>
      </ion-col>
    </ion-row>

    <hr>

    <ion-row>
      <ion-col col-12>
        <p>pH</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <p class="info">{{dadosTratamento.msgPh}}</p>
      </ion-col>
    </ion-row>

    <ion-row class="dosagem">
      <ion-col col-12>
        <p><b>Dosagem:</b> {{dadosTratamento.dosagemPh}}</p>
      </ion-col>
    </ion-row>

    <hr>

    <ion-row>
      <ion-col col-12>
        <p>Cloro livre (ppm)</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <p class="info">{{dadosTratamento.msgCloro}}</p>
      </ion-col>
    </ion-row>

    <ion-row class="dosagem">
      <ion-col col-12>
        <p><b>Dosagem:</b> {{dadosTratamento.dosagemCloro}}</p>
      </ion-col>
    </ion-row>

    <hr>

    <ion-row>
      <ion-col col-12>
        <p>Acido Cianúrico (ppm)</p>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col col-12>
        <p class="info">{{dadosTratamento.msgAcido}}</p>
      </ion-col>
    </ion-row>

    <ion-row class="dosagem">
      <ion-col col-12>
        <p><b>Dosagem:</b> {{dadosTratamento.dosagemAcido}}</p>
      </ion-col>
    </ion-row>

    <hr>

    <ion-row>
      <ion-col col-12>
        <p>Dureza Cálcica (ppm)</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <p class="info">{{dadosTratamento.msgDurezaCalcica}}</p>
      </ion-col>
    </ion-row>

    <ion-row class="dosagem">
      <ion-col col-12>
        <p><b>Dosagem:</b> {{dadosTratamento.dosagemDurezaCalcica}}</p>
      </ion-col>
    </ion-row>

    <ion-row style="position: relative; bottom: 0px; right: 0px;">
      <ion-col col-9></ion-col>
      <ion-col col-3 text-center>
        <button ion-button round (click)="goToOtherPage()" style="width: 55px; height: 55px">
          <ion-icon name="arrow-forward" large></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>