page-dados-servico {
    h4{
        border-bottom: 2px solid #000;
        padding-bottom: 5px;
    }

    p{
        font-size: 1.7em;
        margin-top: 12px !important;
        margin-bottom: 0 !important;
    }

    ion-icon{
        font-size: 2.5em;
    }

    .info{
        font-size: 16px;
        margin-top: 5px !important;
        text-align: justify
    }

    .dosagem{
        width: 100%;
        background-color: #488aff;
        margin-top: 10px;
        p{
            font-size: 16px;
            color: #fff;  
            margin: 0 !important;
            padding: 0; 
        }
    }

    hr{
        border-bottom: 1px solid #000;
        width: 100%;
    }
}
